/* slider starts here */
.switchx {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.9em;
  }
  
  .switchx input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderx {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303136;
    transition: .4s;
    border-radius: 25px;
  
  }
  
  .sliderx:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    /* background: linear-gradient(40deg, #ff0080, #ff8c00 70%); */
    box-shadow: inset 3px -2px 5px -2px #8983f7, inset 10px -5px 0 0 #a3dafb;
    transition: .4s;
  }
  
  .switchx input:checked+.sliderx {
    background-color: rgb(221, 218, 218);
  }
  
  .switchx input:checked+.sliderx::before {
    transform: translateX(1.5em);
    box-shadow: none;
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  }